@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

@import 'tailwindcss';

.active {
  background-color: #F4E8FB;
  border-color: #901CDB;
}

* {
  font-family: 'Lato', sans-serif;
}


.font-olivera {
  font-family: 'Olivera', serif;
}


select,
input,
textarea {
  border: 1px solid #c2c2c2;
  border-radius: 5px;
  outline-color: #901CDB;
}
